<div class="row">
  <div class="col-1">
    <app-sidenav></app-sidenav>
  </div>
  <div class="col-11">
    <div *ngIf="isComponentLoading">
      <div class="d-flex justify-content-center mt-3">
        <mat-spinner matTooltip="Please wait..." diameter="30"> </mat-spinner>
      </div>
    </div>

    <div *ngIf="!isComponentLoading">
      <mat-card class="row rowDataHeader mat-elevation-z8">
        <div class="col-3 colData">Employee's Activity Id</div>
        <div class="col-3 colData">Activity Name</div>
        <div class="col-3 colData">Points</div>
        <div class="col-3 colData">
          Activity Date
          <mat-form-field matTooltip="Filter By Date">
            <mat-date-range-input [formGroup]="range" [rangePicker]="picker">
              <input
                (dateChange)="getStartDate()"
                matStartDate
                formControlName="start"
                placeholder=""
              />
              <input
                (dateChange)="getEndDate()"
                matEndDate
                formControlName="end"
                placeholder=""
              />
            </mat-date-range-input>

            <mat-datepicker-toggle
              matIconSuffix
              [for]="picker"
            ></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
          </mat-form-field>
        </div>
      </mat-card>
      <div
        class="infinite-scroll-class"
        infiniteScroll
        [infiniteScrollDistance]="4"
        [infiniteScrollThrottle]="100"
        (scrolled)="onScrollDown()"
        [scrollWindow]="false"
        cdkScrollable
      >
        <div *ngIf="empActivityList.length >= 0">
          <div *ngFor="let item of empActivityList; let i = index">
            <mat-card class="row rowData">
              <div class="col-3 colData">
                {{ item.employee_activity_id }}
              </div>
              <div class="col-3 colData">
                {{ item.activity_name }}
              </div>
              <div class="col-3 colData">
                {{ item.points }}
              </div>
              <div class="col-3 colData">
                {{ item.date | date : "dd-MMM-yyyy" }}
              </div>
            </mat-card>
          </div>
        </div>
        <div class="noDataMsg" *ngIf="empActivityList.length == 0">
          Data Not Found
        </div>
      </div>
    </div>
  </div>
</div>
